.legend {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
}

.legendItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
}

.legendMark {
  border-radius: 50%;
  margin: 0 10px 0 20px;
  transition: transform 0.3s;
  cursor: pointer;
}

.legendMark:hover {
  transform: scale(1.2);
}
