.object {
  transition: y 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: end;
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
}

.label {
  font-size: 11px;
  cursor: move;
  white-space: nowrap;
}

.button {
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  font-weight: 700;
  background-color: white;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
}
